*{
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

header{
	width: 100%;
	height: 80px;
	background: linear-gradient(#060609, #151823);
	position: relative;
	float: left;
}
	
	#logo, nav, #usuario{
		position: relative;
		float: left;
		height: 100%;
	}
	
	#logo{
		width: 150px;
		padding: 15px 25px;
		box-sizing: border-box;
		cursor: pointer;
	}

		#logo>img{
			height: 100%;
		}

	nav{
		width: calc(100% - 350px); 
	}
		ul{
			height: 100%;
			list-style: none;
		}

		li{
			position: relative;
			float: left;
			padding-left: 20px;
			padding-right: 20px;
			box-sizing: border-box;
			height: 100%;
			line-height: 80px; /*Especificar el lugar del texto en lo vertical*/
			color: white;
			text-transform: uppercase; /*transformar texto a mayusculas*/
			font-size: 16px;
			cursor: pointer;
		}

		li>img{
			height: 16px;
			filter: invert(100%);
			margin-right: 5px;

		}

	#usuario{
		width: 200px;
		padding: 10px 20px;
		box-sizing: border-box; 
	}

		p{
			color: white;
			font-size: 16px;
			position: relative;
			float: left;
			line-height: 60px;
			margin-right: 15px;
		}

		#usuario-img{
			height: 100%;
			width: 60px;
			border-radius: 50%;
			position: relative;
			float: left;
			background-color: yellow;
			overflow: hidden;
		}

		#usuario-img>img{
			height: 100%;
		}

section{
	width: 100%;
	background-color: #151823;
	position: relative;
	float: left;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box; /*Mantiene el tamaño original*/ 
}
	article,aside,#contenido{
		width: 100%;
		position: relative;
		float: left;
	}
	article{
		width: 80% 	!important;
		height: 580px;
		border-radius: 30px;
		overflow: hidden;
		margin-left: 10%;
		cursor: pointer;

	}

		article>img{
			height: 100%;
			width: 100%;
		}
	aside{
		height: 200px;
		padding: 30px;
		box-sizing: border-box;
	}

		.temas{
			width: 320px;
			height: 100%;
			background: #272934;
			position: relative;
			float: left;
			margin-left: 30px;
			border-radius: 15px;
			border: 4px #3C3D46;
			box-sizing: border-box;
			text-align: center;/*centra texto o elementos que no se comportan como cajas/objetos*/
			cursor: pointer;
		}
			.temas>img{
				height: 100%;

			}

	#contenido{
		padding: 30px;
		box-sizing: border-box;
	}

		.contenido-dividido{
			height: 250px;
			margin-bottom: 20px;
		}

		.contenido-dividido>h3{ /*Nos referimos a un elemento que esta justo dentro del anterior*/
			color: #fff;
			font-size: 24px;
		}
			.peliculas{
				width: 18%;
				height: 180px;
				margin-top: 10px;
				margin-left: 25px;
				position: relative;
				float: left;
				overflow: hidden;
				cursor: pointer;
			}
			.primero{
				margin-left: 0px;
			}
			.peliculas>img{
				height: 100%;/**/
			}